body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.place{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.detail{
  text-align: center;
  
  
}

.logo {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
    }

.address{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.rate{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.maps{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.location{
  color: cyan;
  text-shadow: 2px 2px 2px #000000;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
  text-align: center;
}
.button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 111, 111);
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(126, 126, 126);
}
.banner {
  width: 100%;
  height: 100px;
  max-width: 1600px;
  max-height: 600px;
  background-color: #000000;
  color: rgb(111, 245, 255);
  text-align: center;
  padding: 20px;
  font-size: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
}